documentation/*
images/*
config.sh
darks/*
gibbons*
liveview*
./*.jpg
autocam.sh
temperature.txt
data.json
log.txt

# development artifacts
src/*.a
*.o
*.core
*.gcda
gmon.out
.*.sw[pomnq]

# generated binaries
capture
capture_RPiHQ
keogram
startrails
sunwait

# misc
.vscode

tmp/